@media (max-width: 1024px) {}
@media (max-width: 767px) {}
@media (max-width: 481px) {}


@media (max-width: 768px) {
.d-none-mobile {
  display: none !important;
}
}
<<<<<<< HEAD
@media (max-width: 768px) {
    .d-flex {
       display: flex ;
       width: 100% !important;
       flex-direction: column;
    }
  }
=======
  
.d-flex-mobile {
  display: flex !important;
}

@media (max-width: 768px) {
  .block3-top-left__img {
     display: none;
  }
}
>>>>>>> 469fe572433158afab760560b9571511a2c46ef6
