@media (max-width: 1024px) {}
@media (max-width: 767px) {}
@media (max-width: 481px) {}


@media (max-width: 768px) {
  .d-none-mobile {
    display: none !important;
  }
}
  
.d-flex-mobile {
  display: flex !important;
}

@media (max-width: 768px) {
  .block3-top-left__img {
     display: none;
  }
}

.col-md-4,
.col-md-8 {
  width: 100%;
}

@media (min-width: 1024px) {
  .col-md-4 {
    width: calc(100% / 3);
  }

  .col-md-8 {
    width: calc((100% / 3) * 2);
  }
}
