html, body {
    margin: 0; 
    padding: 0;
    font-family: 'Quicksand', sans-serif; 
    font-weight: 500;
    box-sizing: border-box;
    background-color:#ffdfd3;
    overflow-x: hidden;
}
@font-face {
    font-family:'Quicksand';
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
}
ul, li {
    margin: 0;
    padding: 0;
    
}
a { 
    text-decoration: none;
   }
.header a {
    color: #ffffff;
    text-transform: capitalize;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 70px;
    background-color: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;    
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
ul>li {
    display: inline-block;
    margin-left: 15px;
    padding: 25px 0;
}
.header-site-left {
    display: flex;
    align-items: center;
}
.header-site-right__line {
    width: 50px;
    display: flex;
    height: 30px;
    padding: 5px 5px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button:hover {
    background-color:#ffae00;

}
.with-submenu-left {
    display: flex;
}
.menu-logo img{
    width: 150px;
    height: 100%;
    margin-left: 35px;
    
}
.menu-btn {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-left: 15px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efc940;
    color: #000000;
    height: 100%;
    padding: 0 30px 0 30px;
}
.button-right:hover {
    transform: scale(.8);
    transition: all .3s;
}
.left-block-main-text {
    color: gray;
    line-height: 1.7;
}
.circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #ffffff;
    margin: 0 0 3px 5px;
}

.row-item-central {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .container-slide {
        flex-direction: column;
    }
}

.row-left {
    display: block;
    position: relative;
    width: 50%;
    padding-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    text-align: left;
}
.header-site-right {
    height: 100%;
}
.button-style {
    height: 100%;
    width: 200px;
}
.lang-swich {
    padding: 0 30px 0 0;
}
.img-icon {
    margin-left: 10px;
}
.heading-title {
    font-size: 50px;
    color: #4a4c70;
    line-height: 1.2;
    letter-spacing: -.070em;
}
.heading_pre-title {
    display: inline-block;
    color: #9e9e9e;
    font-weight: 700;
    margin-top: 100px;
}
.btn-primary {
    margin-top: 30px;
    border: 2px solid #efc940;
    display: inline-block;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 40px;
    border-radius: 50px;
    min-width: 10px;
    letter-spacing: .050em;
    text-decoration: none;
    transition: all .3s;
    background-color: transparent;
    line-height: 1.7;
    position: relative;
    top: 0px;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .2);
}
.btn-primary:hover {
    top: -10px;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .2);
}
.row-right {
    display: block;
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: 8.333333%;
    flex: 0 0 41.666667%;
}
.info-box {
    margin: 0;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 10% 70px;
    min-height: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    max-width: 343px;
    z-index: 1;
}
.info-box_title {
    display: block;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 26px;
    font-weight: 700;
    letter-spacing: -.050em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.info-box_link {
    display: inline-block;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    line-height: 1.7;
}

.menu-arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.menu-arrow img {
    width: 100%;
    height: auto;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.heading_title {
    font-size: 50px; 
    color: #4a4c70;
    font-weight: 300; 
    line-height: 1.2; 
    letter-spacing: -.070em;
    margin: 20px 0;
}

.heading_title-bolder {
    font-weight: 700;
}

.img-layout,
.img-bg {
    position: absolute;
    z-index: -1;
}

.img-layout {
    width: 150%;
    height: 150%;
    top: -10%;
    left: -20%;
}

.img-bg {
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    position: absolute;
}
.left-block-first-paragraph {
    font-size: 16px; 
    color: #333; 
    font-weight: bolder;
     line-height: 1.7
}
.right-block-main-text {
    color: #ffffff; 
    text-align: center;
}
.container {
    margin: 30px 40px;
}
.slide-item-img {
    position: relative;
    max-width: 100%;
    min-width: 100%;
}
.container-slide {
   display: flex;
   justify-content: space-between;
   text-align: center;
}
 
.container-slide {
    margin-top: 100px;
}
.img--bg {
    max-width: 100%;
    min-width: 100%;
}
.slide-item-top {
    padding: 25px;
}
.slide-item-title {
    margin: 0;
    display: block;
    text-align: left;
    cursor: pointer;
    color: #4a4c70;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}

.slide-item-body{
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
    display: block;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slide-item-badge-left {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -15px;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    padding: 1px 15px 3px 15px;
    border-radius: 3px;
}
.slide-item-badge-center {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -15px;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    padding: 1px 15px 3px 15px;
    border-radius: 3px;
}
.slide-item-badge-right {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -15px;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    padding: 1px 15px 3px 15px;
    border-radius: 3px;
}
.button--primary {
    margin: 32px 0 0 -160px;
    border: 2px solid #efc940;
    display: inline-block;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 40px;
    border-radius: 50px;
    min-width: 10px;
    letter-spacing: .050em;
    text-decoration: none;
    transition: all .3s;
    background-color: transparent;
    line-height: 1.7;
    position: relative;
    top: 0px;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .2);

}
.button--primary:hover {
    top: -10px;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .2);

}
.slide-item-details-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.slide-item-text {
    color: grey;
    line-height: 1.7;
    margin-bottom: 40px;
}
.progress-bar {
    display: relative;
    width: 100%;
    height: 16px;
    border-radius: 50px;
    text-align: center;
    margin-top: 25px;
    background-color: #f9f7f6;
}
.progress-bar-inner1 {
    width: 78%;
    background-color: #37e18c;
    height: 16px;
    border-radius: 50px;
}
.progress-bar-inner2 {
    width: 23%;
    background-color: #37e18c;
    height: 16px;
    border-radius: 50px;
}
.progress-bar-inner3 {
    width: 51%;
    background-color: #37e18c;
    height: 16px;
    border-radius: 50px;
}
.progress-bar-value1 {
    position: relative;
    top: -20px;
    left: 130px;
}
.progress-bar-value2 {
    position: relative;
    top: -20px;
    left: 28px;
}
.progress-bar-value3 {
    position: relative;
    top: -20px;
    left: 80px;
}
.slide-item-badge-left {
    background-color: #49C2DF;
}
.slide-item-badge-center {
background-color: #F36F8F;
}
.slide-item-badge-right {
    background-color: #2EC774;
}
.container-slide a {
    color: #4a4c70;
}
.slide-item-details-item {
    color: #4a4c70;
}

/* TODO: перечитать наследование, выборку и селекторы */
.individual-radiogroup input[type]:checked + label.color-blue {

}

.with-submenu {
    position: relative;
    cursor: pointer;
    list-style: none;
}
.with-submenu::before {
  content:'';
  position: absolute;
  bottom: 42px;
  left:0%;
  right:100%;
  height:3px;
  background-color: transparent;
  transition: all .3s;
  opacity: 0.8;
}
.with-submenu:hover::before {
  background:gold;
  left:0;
  right:0;
  top: 0;
}
.submenu {
    display: none;
    width: 190px;
    position: absolute;
    left: -13px;
    top: 42px;
    padding: 15px;
    z-index: 3;
    transition: all .3s;
}
.with-submenu:hover .submenu {
    display: flex;
    flex-direction: column;
}
.display-list > li {
    display: list-item;
    padding: 5px 10px;
    border-bottom: 0px solid #bbb;
    background-color: #2e0258;
    cursor: pointer;
    transition: background-color .3s;
    margin: 0;
    font-size: 13px;
    list-style: none;
}

.display-list > li a {
    display: inline-block;
    position: relative;
    padding: 5px 0;
}

.display-list > li:after a {
    content: '';
    display: block;
    height: 2px;
    background-color: #efc940;
    margin-top: 4px;
    transition: width .3s;
    z-index: 3;
}

.submenu.display-list.style1 {
    width: 350px;
    margin-top: 15px;
    background-color: #2e0258;
}
.submenu.display-list.style1 > li {
    width: calc(50% - 20px);
}
.submenu.display-list > li::before {
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom: 14px solid #2e0258;
    position: absolute;
    top: -7px;
    left: 18px;
    transform: skewX(39deg);
}
.submenu.display-list.style1 > li::before {
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom: 14px solid #2e0258;
    position: absolute;
    top: -22px;
    left: 18px;
    transform: skewX(39deg);
}
.style1 > li a::after {
    content: '';
    height: 2px;
    background-color: yellow;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width .3s;
    position: absolute;
}
.style1 li:hover a::after {
    width: 100%;
}
.style2 a::after {
    content: '';
    height: 2px;
    background-color: yellow;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width .3s;
    position: absolute;
}
.style2 li:hover a::after {
    width: 100%;
}
.block3-main-text {
    margin-right: 300px;
    color: gray;
    line-height: 1.7;
    font-size: 16px;
}
.container1 {
    margin: 20px 40px;
}














.sidepanel-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 4;
    overflow-y: auto;
  }
  
  .sidepanel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    background-color: #fff;
    box-shadow: 5px 0 10px 0 rgba(0,0,0,.1);
    padding: 110px 0 50px 0;
  }
  
  .sidepanel-close {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 1em;
    height: 1em;
    cursor: pointer;
  }
  
  .sidepanel-content {
    padding: 0 20px;
  }
  
  .sidepanel-nav {
    padding: 0 47px;
  }
  .sidepanel-nav-list > li {
    margin-left: 0;
    font-size: 13px;
    margin-bottom: 25px;
  }
  .sidepanel-nav-list > li > a:hover {
    opacity: .75;
  }
  .sidepanel-nav-list > li >a {
    color: #282a43;
  }
  .sidepanel-nav  > div {
    padding: 7px 0;
  }
  
  .sidepanel-button {
    margin-top: 30px;
  }
  
  .sidepanel-button button {
    width: 100%;
    padding: 20px 10px;
    box-shadow: none;
    outline: none;
    background-color: #efc940;
    color: #000000;
    border: 0;
    cursor: pointer;
  }
  .sidepanel-button button:hover {
    transform: scale(.8);
    transition: all .3s;
  }
  .sidepanel-pre-title {
    color: #9e9e9e;
    font-size: 10px;
    padding-bottom: 5px;
    margin-top: 17px;
  }
  .sidepanel-pre-title_content > a {
    display: block;
    font-size: 12px;
    font-weight: bolder;
    color: #343877; 
    line-height: 25px;
  }
  .socials {
    margin-top: 60px;
  }
  .sidepanel-pre-title_content > a:hover {
    opacity: .75;
  }
  .sidepanel-close :hover {
    opacity: .75;
  }

  
.grid-block {
    width: 33.33%;
    height: 100px;
}

.grid-block--2x {
    width: 66.66%;
    height: 200px;
}

/*---top---*/
.block3-top {
    display: flex;
    overflow: hidden;
    height: 400px;
    position: relative;
}
.block3-top > div {
    width: 33.3%;
    position: relative;
}
.block3-top img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    position: absolute;
}
.block3-top-left {
    overflow: hidden;
    position: relative;
}
.block3-top-left__img {
    transition: width 1s, height 1s, transform 1s;
}
.block3-top-left__img:hover {
    transform: scale(1.3);
}
.block3-top-central {
    overflow: hidden;
    position: relative;
}
.block3-top-central__img {
    transition: width 1s, height 1s, transform 1s;
    position: absolute;
}
.block3-top-central__img:hover {
    transform: scale(1.3);
}
.block3-top-right {
    background-color: #9BC35E;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3-top-right__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #F36F8F;
}
.block3-top-right__title > a{
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
}
.block3-top-right__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 65%;
}
.block3-top-right__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
}


/*--bottom--*/
.block3-bottom {
    display: flex;
    height: 400px;
}
.block3-bottom > div {
    overflow: hidden;
    width: 33.333%;
    position: relative;
}
.block3-bottom img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: width 1s, height 1s, transform 1s;
    position: absolute;
}
.block3-bottom img:hover {
    transform: scale(1.3);
}
.block3-bottom-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3-bottom-right__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #F36F8F;
}
.block3-bottom-right__title > a{
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
}
.block3-bottom-right__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 65%;
}
.block3-bottom-right__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
}
.block3-bottom-central {
    background-color: #E78F51;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3-bottom-central__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #2EC774;
}
.block3-bottom-central__title > a{
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.block3-bottom-central__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 65%;
}
.block3-bottom-central__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
}

/*central*/
.block3-central {
    display: flex;
    height: 800px;
}
.block3-central > div {
    overflow: hidden;
    position: relative;
}
.block3-central img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
    transition: width 1s, height 1s, transform 1s;
    position: absolute;
}
.block3-central img:hover {
    transform: scale(1.3);
}
.block3-central-left {
    width: 33.333%;
}
.block3-central-left > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.block3-central-left-up {
    height: 50%;
    background-color: #2EC774;
}
.block3-central-left-up__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 65%;
}
.block3-central-left-up__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;  
}
.block3-central-left-up__title > a {
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.block3-central-left-up__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #49C2DF;
}




.block3-central-left-down {
    height: 50%;
}
.block3-central-left-down__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 65%;
}
.block3-central-left-down__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
}
.block3-central-left-down__title >a {
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.block3-central-left-down__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #2EC774;
}


.block3-central-right {
    width: 66.666%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block3-central-right__inner {
    line-height: 1.7;
    font-size: 13px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    width: 33%;
}
.block3-central-right__holder {
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
}
.block3-central-right__title >a {
    color: white;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.block3-central-right__badge {
    font-weight: 700;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #F8AC3A;
}

    @media (max-width: 768px) {
        .navbar-item-central {
            display: none;
        }
        .d-none-mobile {
        display: none !important;
      }
       .row-item-central {
           flex-direction: column;
       }
       .img-layout {
           display: none;
       }
       .row-left {
           width: 100%;
       }
       .row-right {
           width: 100%;
       }
        .block3-central {
            display: flex;
            flex-direction: column;
        }
        .block3-central-left {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
        ..block3-central img {
            height: 100%;
        }
        .block3-top-right {
            bottom: -100px;
        }
        .d-flex {
           display: flex ;
           width: 100% !important;
           flex-direction: column;
           height: 300px !important;
           width: 100%;
        }
        .block3-main-text {
            font-size: 16px;
            width: 100%;
        }
        .heading_title {
            font-size: 40px;
        }
        .block3__title {
            font-size: 30px;
        }
        .block3-bottom {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
      }
  




